<%= render 'layouts/navigation' %>
<div id="novo">
    <h1>Editar Cliente</h1>
    
    <%= render 'form', cliente: @cliente %>
    
    <%= link_to 'Show', @cliente %> |
    <%= link_to 'Back', clientes_path %>
</div>