<%= render 'layouts/navigation' %>
<div id="novo">
    <h1>Editar Atendimento</h1>
    
    <%= render 'form', atendimento: @atendimento %>
    
    <%= link_to 'Show', @atendimento, class:"btn btn-1 btn-1a" %>
    <%= link_to 'Back', atendimentos_path, class:"btn btn-1 btn-1a" %>
</div>
