
<div id="novo">
    <h1>Editar Atendimento</h1>
    
    <%= render 'form', atendimento: @atendimento %>
    
    <%= link_to 'Show', @atendimento %> |
    <%= link_to 'Back', atendimentos_path %>
</div>
