
<%= render 'layouts/navigation' %>
<style>
    .btn_back{
        color: purple;
        
    }
</style>

<div id="novo">
    <h1>Editar Animal</h1>
    
    <%= render 'form', animal: @animal %>
    
    <%= link_to 'Show', @animal, class:"btn btn-1 btn-1a" %> 
    <%= link_to 'Back', animals_path, class:"btn btn-1 btn-1a" %>
</div>