<%= render 'layouts/navigation' %>
<div class="main">
<div id="alinha-content">
    
    <h1>Sobre o Sistema</h1>
    
    <p>
        O VetSystem é um sistema de gestão cadastral e controle de atendimentos para clínicas Veterinárias.
    </p>
    <br>
    <p>
        Nele é possível cadastrar um cliente, os animais que esse cliente possui e manter atualizado um registro com os dados das consultas
    </p>
    <br>
    <p>
        anteriores que esse animal recebeu, podendo assim, ter um rápido acesso ao prontuario do animal, agilizando o atendimento. 
    </p>
    <br>
    
    <h4>
        Criadores:
    </h4>
    <br>
    <p>
        Jordana Ferreira
    </p>
    <br>
    <p>
        Marcus Vinícius
    </p>
    <br>
    <p>
        Rudney Forti
    </p>

</div>
</div>


