// Place all the styles related to the Clientes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{
    color:  #00995c;
    text-transform:uppercase;
    font-size:2em;
  	padding-bottom:25px;
}

#container{
 
	width:100%;
	height:65px;
	background-image: linear-gradient(to right, #38ef7d, #11998e);

}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  margin-top:20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  font-style:uppercase;
  display: block;
}

.sidenav a:hover {
	 background-color: #262626;
  color: #f1f1f1;
}

.main {

  margin-left: 200px; /* Same as the width of the sidenav */
 /* Increased text to enable scrolling */
  padding: 0px 10px;

}
.sidenav div{
  margin-top:20px;
}
#alinha-content{
	float:left;
	margin-top:80px;
	margin-left:65px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logo{
   margin-left:20px;
}


  
  .field label{
    color: #17b679;
    margin-bottom:8px;
    font-size:20px;
  }
  
  form{
     width:400px;
   
  }

 input, .myclass, .button{
  width: 80%;
  height:40px;
  border: 1px solid  #cccccc;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  margin-bottom:3px;
  background-color:  #cccccc;
  box-sizing: border-box;
  transition: 0.3s;
  font-size:20px;
  
}


input:focus {
  border-color: #17b679;
  box-shadow: 0 0 4px 0 #17b679;
}


.button {
   background:#38ef7d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  
  
}

.button:hover{
  background:#11998e;
  transition: 2s
}

 
/*LOGIN - NEW - PAGE*/
#conteudo{
    width:100%;
    
  }
  
  #banner{
    float:left;
    width:70%;
    height:100%;
}
  
  #formulario form{
    margin-left:50px;
   
  }
  
  #formulario input{
    width:75%;
    margin:0;
    padding:0;
    background: #f2f2f2;
}

#formulario .check{
  width:15px;
 margin-left:8px;
}
  
#formulario .check-content{
  width:350px;

}
#formulario .check:focus {
  box-shadow: none;
}

#formulario .check_label{
  float:left;
  margin-top:8px;
}


#formulario label{
     margin-bottom:0
}
 
#formulario{
  width:29.9%;
  height: 100%;
  float:left;

}
  
#formulario .inputWithIcon input{
    padding-left: 40px;
  }

 
  #formulario .inputWithIcon {
    position: relative;
  }
  
  
#formulario .inputWithIcon i {
  position: absolute;
  left: 0;
  top: 35px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

#formulario .inputWithIcon input:focus + i {
  color: #36ce6c;
}

#formulario .inputWithIcon.inputIconBg i {
  /*background-color: #aaa;*/
  color: #aaa;
  padding: 9px 10px;
  border-radius: 4px 0 0 4px;
}

h2{
  text-align:center;
  margin:40px;
  font-size:1.8em;
  text-transform:uppercase;
  color:  #17b679;
}

.alinha-conteudo-edit{
  margin-left:100px;
}

a{
  text-decoration:none;
}
.h2_alinhamento{
  text-align:left;
  margin-left:90px;
}

.msg_i{
  font-size:15px;
}


 /* a:hover{
    background:none;
  }*/
  
.paginacao{
  margin-top:70px;
}
.logo2{
  margin-left:110px;
}


.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

}

.btn-2 {
	background: #0cdb8c !important;
	color: #fff ;
	box-shadow: 0 6px #17b679;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;

}

.btn-2a {
	border-radius: 0 0 5px 5px;
}

.btn-2a:hover {
	box-shadow: 0 4px #17b679;
	top: 2px;
}

.btn-2a:active {
	box-shadow: 0 0 #17b679;
	top: 6px;
}

.alinha-links-devise{
  color:blue !important;
  margin-left:50px;
 margin-top:20px;
 text-decoration:underline;
}

.alinha-links-devise:hover{
  color:darkblue;
}

.cliente-photo{
  float:left;
  margin-right:20px;
}

.inf{
  float:left;
  width:100%;
}

 .alinha-show{
    padding-bottom:10px;
    font-size:18px;
    
  }
  
  .alinha-show strong{
    color:#00995c;
  }
 
 .btn-1 {
  padding:10px;
  margin: 8px 0 0px 0px;
  background:#0cdb8c;
	border: 1.5px solid #fff;
	color: #fff !important;
	font-size:15px;

}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #0e83cd;
	background: #17b679;
}


#login_user{
text-align:center;
color:white;
}

#login_user .btn{
	background:   #404040!important;
	color:white !important;
	border:none;
	margin: 0px;
}

.count{
  width:300px;
  height:80px;
  float:left;
  padding:5px;
  background: #f2f2f2;
  margin-right:20px;
  border-bottom:2px solid darkcyan;

}

.alinha-count{
  margin-top:20px;
  font-size:18px;
  color:black;
}
.alinha-count-img{
  float:left;
}