// Place all the styles related to the Clientes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    font-size:100%;
}

table{
	background-color:white;
	border-radius:10px;
	border-collapse: collapse;
	text-align:left
}
		
th{
    text-transform:uppercase;
    color:white;
	padding:18px 30px;
	background-color:#36ce6c
}

th:last-child{
	border-radius: 0 10px 0 0;
}

th:first-child{
	border-radius: 10px 0 0 0;
}
		



